<template name="index">
<div class="banner">
	<div class="header">	
			<div class="logo">
			   <h1><a href="#">Resume Builder</a></h1>
			</div>
			<div class="top-nav">
				<span class="menu"><i class="fa fa-menu"></i></span>
				<ul class="nav1 pull-right">
				{{#if currentUser}}
					<span>Hello, {{currentUserEmail}}</span>
					<li><a href="#" class="logout">logout</a></li>
				{{else}}
					<li><a href="#" data-toggle="modal" data-target="#myModal4">login</a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal5">Signup</a></li>
				{{/if}}
				</ul>
						<!-- script-for-menu -->
						 <script>
						   $( "span.menu" ).click(function() {
							 $( "ul.nav1" ).slideToggle( 300, function() {
							 // Animation complete.
							  });
							 });
						</script>
						<!-- /script-for-menu -->
			</div>
			
			<div class="clearfix"> </div>
	</div>
	<div class="container">
		<div class="banner-info">
			<h3>Create custom Resumes and download them for free</h3>
		</div>
		<div class="buttons">
			<ul>
			{{#if currentUser}}
				{{#if showResumeButton}}
					<li><a class="hvr-shutter-in-vertical" href="{{pathFor 'resume'}}">See Resume</a></li>
				{{else}}
					<li><a class="hvr-shutter-in-vertical" href="{{pathFor 'createResume'}}">Get Started</a></li>
				{{/if}}
			{{/if}}

			<!-- {{#if showResumeButton}}
				<li><a class="hvr-shutter-in-vertical" href="{{pathFor 'resume'}}">See Resume</a></li>
			{{/if}} -->
				
			</ul>
			
		</div>
	</div>
</div>

			<!-- login -->
			{{> login}}
			<!-- //login -->
			<!-- signup -->
			{{> register}}
			<!-- //signup -->
</template>