<template name="register">
	<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-info">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<p style="color: red;" class="text-center">{{errorMessage}}</p>						
				</div>
				<div class="modal-body modal-spa">
					<div class="login-grids">
						<div class="login">
							<div class="login-left">
								<ul>
									<li><a class="fb" href="#"><i class="fa fa-facebook"></i>Sign in with Facebook</a></li>
									<li><a class="goog" href="#"><i class="fa fa-google"></i>Sign in with Google</a></li>
									<li><a class="linkin" href="#"><i class="fa fa-linkedin"></i>Sign in with Linkedin</a></li>
								</ul>
							</div>
							<div class="login-right">
								<form>

									<h3>Create your account </h3>
									<input type="text" name="email" placeholder="Email Address" required="">
									<input type="password" placeholder="Password" name="password" required="">
									<input type="submit" value="CREATE ACCOUNT" >
								</form>
							</div>
							<div class="clearfix"></div>								
						</div>
						<p>By logging in you agree to our <span>Terms and Conditions</span> and <span>Privacy Policy</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>